* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body,
#root {
  -webkit-font-smoothing: antialiased;
}

body {
  a {
    color: #ffffff;
  }
}

label[data-shrink="false"] {
  pointer-events: none;
}
