html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  background: #038521;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  &,
  a {
    color: white;
  }
}
